body {
  background-color: $grey-100;
  color: $black-87;
  font-family: sans-serif;
  margin: 0;
}

.normal,
h1,
h2,
h3,
p {
  margin: .85em auto;
  max-width: 660px;
}

h1 {
  font-size: 1.9rem;
  max-width: 700px;
}

p {
  line-height: 1.4;
}

.slider-and-tables {
  margin: 0 auto 30px;
  max-width: 40rem;

  h3 {
    padding: 10px 0;
  }
}

.year-slider {
  background-color: $white;
  height: 84px;
  margin: 10px auto;
  max-width: 600px;
  padding: 20px 20px 0;

  .slider-element {
    padding: 0 20px;
  }

  .year-labels {
    display: flex;
    justify-content: space-between;
  }
}

table {
  border-collapse: collapse;
  border-left: 1px solid $grey-300;
  border-right: 1px solid $grey-300;
  border-spacing: 0;
  border-top: 1px solid $grey-300;
  width: 100%;

  th,
  td {
    background-color: $white;
    border-bottom: 1px solid $grey-300;
    padding: .5em 1em;
    text-align: right;

    &:first-child {
      text-align: left;
    }
  }
}

.js-figure {
  background-color: $white;
  border: 1px solid $grey-500;
  margin: 10px auto;
  position: relative;
  width: 720px;
}

.figure-title {
  color: $grey-700;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.fig1 {
  height: 320px;
}

.fig2 {
  height: 540px;
}

.map-shell {
  position: relative;

  .zoom-slider {
    height: 180px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 20px;
  }

  .x-position {
    bottom: 30px;
    height: 20px;
    left: 60px;
    position: absolute;
    width: 600px;
  }

  .y-position {
    height: 400px;
    position: absolute;
    right: 5px;
    top: 4px;
    width: 20px;
  }

  .state-info {
    background-color: $white-87;
    font-size: 12px;
    height: calc(100% - 24px);
    padding: 10px 20px;
    position: absolute;
    top: 0;
    width: 200px;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
